{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <h1 class="mb-4">Añadir Varios Objetos</h1>

    <form method="POST">
        {% csrf_token %}
        {{ formset.management_form }}

        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Tipo</th>
                    <th>Lugar</th>
                    <th>Cajón</th>
                    <th>Importante</th>
                    <th>¿Está en su lugar?</th>
                    <th>Propietario</th>
                    <th>Prestado a...</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                <tr>
                    <td>{{ form.name }}</td>
                    <td>{{ form.description }}</td>
                    <td>{{ form.label }}</td>
                    <td>{{ form.placelabel }}</td>
                    <td>{{ form.boxlabel }}</td>
                    <td>{{ form.important }}</td>
                    <td>{{ form.isInPlace }}</td>
                    <td>{{ form.whoIsIt }}</td>
                    <td>{{ form.hasIt }}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn btn-success">Guardar Objetos</button>
    </form>
</div>
{% endblock %}
