{% extends 'base.html' %}
{% block content %}
<h1>Sign up</h1>

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label>Usuario</label>
        <input type="text" name="username" class="form-control" value="{{ username|default:'' }}">
    </div>
    <div class="mb-3">
        <label>Contraseña</label>
        <input type="password" name="password1" class="form-control">
    </div>
    <div class="mb-3">
        <label>Repetir Contraseña</label>
        <input type="password" name="password2" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Registrarse</button>
</form>
{% endblock %}
